{# templates/security/login.html.twig #}
{% extends 'base.html.twig' %}
{# ... #}
{% block body %}
    <div class="login">
    {% if error %}
        <div><h4>Usuario o contraseña incorrecta</h4></div>
    {% endif %}
        <link href="{{ asset('css/login.css') }}" rel="stylesheet" />
        <h2>Iniciar sección</h2>
        <form action="{{ path('login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
        <br>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>
        <br>
        <br>
        <button type="submit" class="boton1">login</button>
        
        </form>
        <button class="boton2">Registrarse</button>
    </div>
{% endblock %}